@keyframes exitAnime {
    0% {
        right: 1px;
    }
    100% {
        right: -110%;
    }
}

@keyframes loadAnime {
    0% {
        right: -110%;
    }
    100% {
        right: 1px;
    }
}

.-notifyplate- {
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.-notifyplate-item .-notifyplate-icon {
    position: relative;
    float: left;
    margin: 4px;
    width: 48px;
    height: 48px;
}

.-notifyplate-item {
    animation: loadAnime 0.25s 1 ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    min-height: 80px;
    max-height: 119px;
    width: 100%;
    right: 1px;
    background: #fff;
    margin: 2px;
    border: 0 solid;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
    color: #000;
    font-family: "Microsoft Yahei", "Microsoft Jhenghei", MicrosoftYahei;
    overflow: hidden;
}

.-notifyplate-item .-notifyplate-title {
    margin: 2px;
    margin-left: 4px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.-notifyplate-content {
    font-size: 14px;
    margin-right: 4px;
    width: 240px;
    float: right;
}

.-notifyplate-close {
    position: absolute;
    top: -2px;
    right: 4px;
    font-size: 15px;
    cursor: default;
}

.-notifyplate-item-hidden {
    animation: exitAnime 0.25s 1 ease-in;
    animation-fill-mode: forwards;
}
